@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: 'Lora', serif;
  --font-sans: 'Inter', sans-serif;
  --color-editorial-bg: #F9F8F6;
  --color-editorial-text: #18181B;
  --color-editorial-accent: #0F766E;
  --color-editorial-likes: #BE123C;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-editorial-bg);
  color: var(--color-editorial-text);
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, .font-serif {
  font-family: var(--font-serif);
}
